<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<form role="form" action="/admins/challenges/new" th:object="${challengePostOrUpdateRequest}" method="post">
    <div class="container">
        <div class="form-group">
            <label th:for="challengeName">챌린지 이름</label>
            <input type="text" th:field="*{challengeName}" class="form-control" placeholder="챌린지 이름을 입력하세요"
                   th:class="${#fields.hasErrors('challengeName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('challengeName')}" th:errors="*{challengeName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="challengeStartDate">챌린지 시작일</label>
            <input type="text" th:field="*{challengeStartDate}" class="form-control" placeholder="yyyy-mm-dd"
                   th:class="${#fields.hasErrors('challengeStartDate')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('challengeStartDate')}" th:errors="*{challengeStartDate}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="challengeEndDate">챌린지 종료일</label>
            <input type="text" th:field="*{challengeEndDate}" class="form-control" placeholder="yyyy-mm-dd"
                   th:class="${#fields.hasErrors('challengeEndDate')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('challengeEndDate')}" th:errors="*{challengeEndDate}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="challengeParticipationFee">챌린지 참가비</label>
            <input type="text" th:field="*{challengeParticipationFee}" class="form-control" placeholder="챌린지 참가비를 입력하세요"
                   th:class="${#fields.hasErrors('challengeParticipationFee')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('challengeParticipationFee')}" th:errors="*{challengeParticipationFee}">
                Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="challengeNumPerWeek">주 당 참여 횟수</label>
            <input type="text" th:field="*{challengeNumPerWeek}" class="form-control" placeholder="챌린지 주 당 참여 횟수를 입력하세요"
                   th:class="${#fields.hasErrors('challengeNumPerWeek')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('challengeNumPerWeek')}" th:errors="*{challengeNumPerWeek}">Incorrect date</p>
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}">로그인 실패</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>
