<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<form role="form" action="/admins/challenges/new" th:object="${challengePostOrUpdateRequest}" method="post">
    <div class="container-fluid">
        <th:block th:each="week : ${weekList}">
            <div class="col" th:each="num : ${numPerWeekList}">
                <h2>[[${week}]]주차 [[${num}]]번째 루틴</h2>
                <!--                <div class="form-group" th:with="challengeNumPerWeek=*{challengeNumPerWeek},week=${week},num=${num}">-->
                <label th:for="challengeRoutineContent">운동 부위</label>
                <div id="box" class="row">
                    <div id="addButton">
                        <input type="text" id="hi"> <input type="button" value="추가" onclick="add_textbox()">
                    </div>
                    <select id="selectTarget" class="col" name="selectTarget" onchange="addWorkoutName()">
                        <option value="" selected disabled>운동 부위</option>
                        <option value="CHEST">가슴</option>
                        <option value="BACK">등</option>
                        <option value="LOWER_BODY">하체</option>
                        <option value="SHOULDER">어깨</option>
                        <option value="TRICEPS">삼두근</option>
                        <option value="BICEPS">이두근</option>
                        <option value="CORE">코어</option>
                        <option value="FOREARM">전완근</option>
                        <option value="AEROBIC">유산소</option>
                    </select>
                </div>
            </div>
            <br><br>
        </th:block>
    </div>
</form>

<script>
    // ~주 ~회차 count 검사 ㅡ> 배열로 해두기
    var count = 1;

    function add_textbox() {
        if(count == 5){
            console.log("count는 5 이하여야함.");
            return;
        }
        count++;
        console.log("count : " + count);
        const box = document.getElementById("box");
        const newP = document.createElement('p');
        const clone = box.cloneNode(true);
        newP.innerHTML = "<input type='button' value='삭제' onclick='remove(this)'>";
        box.appendChild(newP);
    }

    const remove = (obj) => {
        count--;
        console.log("count : " + count);
        console.log(obj);
        console.log(obj.parentNode);
        document.getElementById('box').removeChild(obj.parentNode);
    }

    function addWorkoutName() {
        var select = document.getElementById("selectTarget");
        // 기존 반응되는 select 제거
        //console.log(document.getElementById("selectWorkoutName"));
        if (document.getElementById("id_p") != null) {
            document.getElementById("id_p").remove();
        }

        var selectValue = select.options[select.selectedIndex].value;
        var selectText = select.options[select.selectedIndex].text;
        console.log(selectValue);
        console.log(selectText);

        const box = document.getElementById("box");
        const newP = document.createElement('p');
        newP.setAttribute("id","id_p");


        if (selectValue == "CHEST") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>운동 이름</option>\n" +
                "        <option value=\"BENCH_PRESS_DUMBBELL\">벤치 프레스 (덤벨)</option>\n" +
                "        <option value=\"CHEST_PRESS_MACHINE\">체스트 프레스 (머신)</option>\n" +
                "        <option value=\"PUSH_UP\">푸시 업</option>\n" +
                "    </select>"
        } else if (selectValue == "BACK") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>운동 이름</option>\n" +
                "        <option value=\"LAT_PULL_DOWN\">렛 풀 다운</option>\n" +
                "        <option value=\"ONE_ARM_DUMBBELL_ROW\">원 암 덤벨 로우</option>\n" +
                "        <option value=\"SEATED_ROW_CABLE\">시티드 로우 케이블</option>\n" +
                "    </select>"
        } else if (selectValue == "LOWER_BODY") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>운동 이름</option>\n" +
                "        <option value=\"SQUAT\">스쿼트</option>\n" +
                "        <option value=\"WIDE_SQUAT\">와이드 스쿼트</option>\n" +
                "        <option value=\"LEG_EXTENSION\">레그 익스텐션</option>\n" +
                "    </select>"
        } else if (selectValue == "SHOULDER") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        } else if (selectValue == "TRICEPS") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        } else if (selectValue == "BICEPS") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        } else if (selectValue == "CORE") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        } else if (selectValue == "FOREARM") {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        } else {
            newP.innerHTML = "<select id=\"selectWorkoutName\" class=\"col\" name=\"lang\" onchange=\"changeLangSelect()\">\n" +
                "        <option value=\"\" selected disabled>en</option>\n" +
                "        <option value=\"en\">aaaa</option>\n" +
                "        <option value=\"ko\">bbbb</option>\n" +
                "    </select>"
        }
        box.appendChild(newP);
    }
</script>

</body>
</html>

<!--<input th:with="index=${challengeNumPerWeek+week}" type="text" th:field="*{challengeRoutineDataList[__index__]}" class="form-control" placeholder="챌린지 이름을 입력하세요"-->
<!--       th:class="${#fields.hasErrors('challengeName')}? 'form-control fieldError' : 'form-control'">-->
<!--<p th:if="${#fields.hasErrors('challengeName')}" th:errors="*{challengeName}">Incorrect date</p>-->
