<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="row align-items-start">
    <div class="col">
        <button>aaaa</button><br>
        <select>asdf</select>
    </div>
    <div class="col">
        <button>aaaa</button><br>
        <select>asdf</select>
    </div>
    <div class="col">
        <button>aaaa</button><br>
        <select>asdf</select>
    </div>
    <div class="col">
        <button>aaaa</button><br>
        <select>asdf</select>
    </div>
</div>
</body>
</html>
