<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills pull-right">
                <li><a href="/admins/main">Home</a></li>
            </ul>
            <h3 class="text-muted"><b>Every Health 관리자 페이지</b></h3>
        </div>
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/admins/report/challenges/auth">신고글 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admins/completed-challenges">종료된 챌린지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admins/challenges">챌린지 관리</a>
                </li>
            </ul>
        </div>
    </div>
</div>
